{% extends 'base.html.twig' %}
{% block content %}
<main>
    <section>
        <figure>
            <img src="{{ portfolio.imageUrl }}" alt="Portfolio image">
        </figure>
        <article>
            <h2>{{ portfolio.name }}'s Timeline</h2>
            {% for item in timeline %}
                {% if item.entities.urls | length > 0 or item.retweeted_status is not defined %}
                    {% set line = {
                        url: (item.entities.urls | first).url is not null ? (item.entities.urls | first).url : "#",
                        text: item.text,
                        username: item.user.screen_name,
                        color: item.user.profile_background_color,
                        profile_img: item.user.profile_image_url
                    } %}
                {% else %}
                    {% set line = {
                        url: (item.retweeted_status.entities.urls | first).url is not null ? (item.retweeted_status.entities.urls | first).url : "#",
                        text: item.retweeted_status.text,
                        username: item.retweeted_status.user.screen_name,
                        color: item.retweeted_status.user.profile_background_color,
                        profile_img: item.retweeted_status.user.profile_image_url
                    } %}
                {% endif %}
                <article style="color: #{{ line.color }}">
                    <a href="{{ line.url }}" >
                        <figure>
                            <img src="{{ line.profile_img }}" alt="Timeline image">
                        </figure>
                        <footer>
                            <h2>{{ line.username }}</h2>
                            <p>{{ line.text }}</p>
                        </footer>
                    </a>
                </article>
            {% endfor %}
            <footer>
                <a href="https://twitter.com/{{ portfolio.twitterUsername }}">Go to profile</a>
            </footer>
        </article>
    </section>
    <aside>
        <h1>{{ portfolio.name }} {{ portfolio.lastname }}</h1>
        <section>
            <h2>My Work Experience</h2>
            <footer>
                {{ portfolio.description | raw }}
            </footer>
        </section>
    </aside>
    {% include 'app/footer.html.twig' %}
</main>
{% endblock %}
{% block javascripts %}
{% endblock %}