{% extends 'base.html.twig' %}
{% block content %}
    {% set bg_img = util.img("section_500").image %}
    {% set bg_color = util.config("section_500_color") %}
    <div class="crumbs">
        <span>{{ util.text("bread_home") }}</span>
        <span>{{ util.text("bread_500") }}</span>
    </div>
    <div class="sectionTitle" style="background-image: url('{{ path_images ~ '/' ~ bg_img }}'); background-color: {{ bg_color }}">
        <hr/>
        <h1>{{ util.text("server_error") | raw }}</h1>
        <hr/>
    </div>
    <div class="customContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="grayBoxTitle">
                    <center><h1 class="smallBoldTitle">{{ util.text("server_error") }}</h1></center>
                    {{ util.textBig("server_error") | raw }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="generalInput productSearch">
                    <div class="homeSelect all_blog">
                        <form action="{{ path('search_all') }}" method="get">
                            <input placeholder="{{ util.text("search") }}" value="" name="search" class="selects"/>
                            <button type="submit" class="selects">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}